/* CSS Variables */
@import "./variables.css";

.navbar {
  width: 100%;
  height: 80px;
  position: relative;
  padding: 0 2.5rem;
  margin-bottom: 2rem;
  background-color: var(--clr-moonstone);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container {
  font-family: var(--ff-headings);
  display: flex;
  align-items: center;
  column-gap: 2rem;
  z-index: 2;
}

#logo-icon,
#person-icon,
#arrow-icon {
  font-size: 3rem;
  color: var(--clr-dark);
  cursor: pointer;
}

#logo-icon :hover,
#person-icon :hover,
#arrow-icon :hover {
  opacity: 0.9;
  color: #dbdbdb;
}
#arrow-icon {
  display: none;
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
}

.nav-links,
.profile-links {
  display: none;
  position: absolute;
  top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none;
  transition: 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0.5rem;
}

.profile-links {
  width: 150px;
  height: min(20vh, 120px);
  padding-right: 1.25rem;
  display: none;
  right: 0;
  text-align: right;
}

.profile-links.active {
  display: flex;
}

.nav-links {
  width: 200px;
  height: min(30vh, 200px);
  display: none;
}

.nav-links.active {
  display: flex;
}

.nav-links a,
.profile-links a {
  font-family: var(--ff-body);
  font-size: 1.5rem;
  color: var(--clr-light);
  cursor: pointer;
  z-index: 10;
}

.nav-links a:hover,
.profile-links a:hover {
  color: var(--clr-orange);
}

@media only screen and (max-width: 1200px) {
  #arrow-icon {
    display: block!important;
  }
}
@media only screen and (min-width: 1200px) {
  .topics-dropdown, .nav-links{
    display: none;
  }
  .nav-links.active{
    display: none;
  }
} 