/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto:ital,wght@0,300;0,400;1,100&display=swap");

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

:root {
  --ff-headings: "Abril Fatface", cursive;
  --ff-body: monospace;
  --ff-alt: "Roboto", sans-serif;

  --clr-light: #f0f0f0;
  --clr-gray: #bfbfbf;
  --clr-dark: #111111;
  --clr-pearl: #dddac8;
  --clr-jade: #44af69;
  --clr-moonstone: #1b9db4;
  --clr-orange: #fcab10;
  --clr-red: #f8333c;
}

body {
  font-family: var(--ff-body);
  background-color: var(--clr-white);
  font-size: 16px;
}

/* Navbar  */
.navbar {
  width: 100%;
  height: 80px;
  padding: 1rem 2.5rem;
  margin-bottom: 2rem;
  background-color: var(--clr-moonstone);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.nav-container {
  font-family: var(--ff-headings);
  display: flex;
  position: relative;
  z-index: 2;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
}

.logo-container:hover #logo-icon {
  cursor: pointer;
}

#logo-icon,
#logo-text {
  color: var(--clr-dark);
}

#logo-icon {
  display: flex;
  align-items: center;
  font-size: 3rem;
}

#logo-text {
  font-size: 2rem;
}

#logo-text:hover {
  text-shadow: 1px 2px rgba(255, 255, 255, 0.622);
}

.nav-btn {
  margin: 0 0.5rem;
  padding: 0.5rem 2rem;
  font-family: var(--ff-headings);
}

/* Common styling */
.home,
.articles,
.single-article {
  display: flex;
  justify-content: center;
  column-gap: 2rem;
  width: 95%;
  margin: 0 auto;
  height: 100vh;
}

.home-container,
.article-container,
.articles-container {
  width: 85%;
}

/* Home */
.home {
  height: 100vh;
}

/* Topics Components */
/* TopicsSidebar */
.topics-sidebar {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  border: 2px solid black;
  border-radius: 15px;
  width: 15%;
  padding: 1rem;
}
.sidebar-title-container {
  width: 100%;
  border-bottom: 1px solid black;
}
.topics-sidebar h1 {
  text-align: center;
}

.topics-sidebar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.topics-sidebar ul li {
  color: var(--clr-dark);
  text-indent: 0.4rem;
}
.topics-sidebar ul li:hover {
  color: var(--clr-dark);
  scale: 1.1;
  background-color: rgba(0, 0, 0, 0.19);
}

/* TopicsDropdown */

.topics-dropdown {
  display: none;
  position: absolute;
  width: 100%;
  left: 110%;
}

.topics-dropdown ul {
  display: flex;
  position: relative;
  flex-direction: column;
  row-gap: 0.5rem;
  padding: 2rem 0.5rem 0.5rem;
  list-style: none;
  background-color: var(--clr-dark);
}

.topics-dropdown ul li {
  color: var(--clr-light);
  font-size: 1.5rem;
}
.topics-dropdown ul li:hover {
  color: var(--clr-orange);
}

.topics-arrow {
  background-color: transparent;
  font-size: 2.5rem;
  border: none;
  color: white;
  cursor: pointer;
  border: 2px solid white;
}

.topics-arrow:hover {
  color: rgb(218, 218, 218);
}

/* Articles*/
.articles-container h1 {
  text-align: center;
  margin-bottom: 1rem;
}

.articles-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  width: 100%;
}

/* Article Card */
.article-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  row-gap: 0.75rem;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #ffffff;
  width: 300px;
  height: 375px;
  margin: 0.5rem;
  padding: 1rem 1rem 1.25rem;
  font-family: var(--ff-alt);
}

.btn.btn-read-article {
  font-weight: 700;
}

.btn.btn-read-article:hover {
  background-color: var(--clr-orange);
}

.article-card h1 {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 100;
  margin: 0;
}
.article-card .title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20%;
  width: 90%;
}

.article-card .img-container {
  width: 90%;
  height: 45%;
  display: flex;
  align-items: center;
}
.article-card img {
  max-width: 100%;
}
.article-card-info {
  width: 85%;
  display: flex;
  justify-content: space-between;
}
.info-span {
  background-color: rgba(107, 102, 102, 0.209);
  font-weight: 200;
  border-radius: 10px;
  padding: 0.1rem 0.5rem;
  font-size: 0.85rem;
}

/* Single Article Page */

.article-section,
.comments-section,
.article-votes-section {
  margin-bottom: 3rem;
}
.article-img-container {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.article-img {
  max-width: 100%;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}

/* Comments Section */
.comments-section h2 {
  margin-bottom: 1.5rem;
}

/* Comments List */
.comments-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  row-gap: 1rem;
  margin-top: 2rem;
}
.article-body {
  font-size: 1rem;
}

/* Comment Card */
.comment-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.comment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  padding: 0 1rem;
}
.comment-body {
  border: 1px solid var(--clr-dark);
  padding: 1.5rem 2rem 1.5rem 1.5rem;
  border-radius: 15px;
}
.comment-container {
  position: relative;
}
.spinner-comment-del,
.btn-comment-del {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
}

.spinner-comment-del{
  color: var(--clr-moonstone);
}

.btn-comment-del {
  border: none;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.29);
  font-size: 2rem;
  cursor: pointer;
}

.btn-comment-del:hover {
  color: var(--clr-red);
}

/* Comment Form */
.comment-form {
  position: relative;
  border: 1px solid var(--clr-dark);
  border-radius: 15px;
  padding: 1rem 1rem 2.5rem 1rem;
  /* height: 8rem; */
}

.comment-form-body {
  border: none;
  outline: none;
  overflow: auto;
  width: 100%;
  display: block;
  resize: none;
  height: 4rem;
}

.comment-form-btn {
  position: absolute;
  bottom: 0.2rem;
  right: 0.5rem;
}

/* Article Rating */

.article-votes-section h2 {
  margin-bottom: 1rem;
}

.article-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.btn-article-vote {
  font-size: 1.25rem;
  width: 2rem;
  height: 2rem;
  margin: 0 0.5rem;
  background-color: rgba(158, 158, 158, 0.25);
  border: 1px solid var(--clr-dark);
  border-radius: 0.2rem;
  text-align: center;
  cursor: pointer;
}
.btn-article-vote:hover {
  background-color: rgba(60, 132, 214, 0.7);
  scale: 0.98;
}

.article-vote-count {
  height: 2rem;
  text-align: center;
}

/* Error Page */

.error-page {
  width: 95%;
  height: 70vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-msg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.back-home-link{
  margin-top: 2rem;
}


/* Login */
.login {
  width: min(600px, 80%);
  margin: 0 auto;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.login-form > input {
  margin-bottom: 1rem;
}
.login-form input {
  padding: 0.5rem 1rem;
}
.login-form input:focus {
  outline: none;
}

/* Utility classes */

.heading-m,
.heading-l,
.heading-xl {
  font-family: var(--ff-headings);
}

.heading-s {
  font-size: 1.15rem;
}
.heading-m {
  font-size: 1.25rem;
}
.heading-l {
  font-size: 2.5rem;
}

.btn {
  border: 1px solid var(--clr-dark);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(60, 132, 214, 0.7);
  box-shadow: 2px 2px black;
}

/* Media Queries */

@media only screen and (max-width: 1200px) {
  .topics-sidebar {
    display: none;
  }
  .topics-dropdown {
    display: block;
  }
}
@media only screen and (min-width: 1200px) {
  .article-body {
    padding: 0 2rem;
  }
  .comments-container {
    padding-left: 1rem;
    padding-right: 2.5rem;
  }
}
